@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<p1>This is a technical demo of a laptop tracking interface.<br>
Designed by Joe Benson for his final year project at the university of Brighton.<br>
ALViN and its associated WABBA are open source under the MIT license.<br>
<b>The source code for AlViN is available <a href="https://github.com/Caine-Coy/ALViN">here</a></b></p1>



