@using ALViN.Data
@inject HttpClient Http

<h2>Add A Beacon</h2>

<EditForm Model="@beacon" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Beacon Name:</label>
        <InputText id="name" @bind-Value="@beacon.Name" />
    </div>

    <div class="form-group">
        <label for="uuid">Beacon UUID:</label>
        <InputText id="uuid" @bind-Value="@beacon.Uuid" />
    </div>

    <button type="submit" class="btn btn-primary">Create Beacon</button>
</EditForm>

@code {
    private Beacon beacon = new();
    private static readonly string logName = "BeaconMakerPage";

    private async Task HandleValidSubmit()
    {
        if (beacon.Name != "" || beacon.Name != null){
            if (beacon.Uuid != "" || beacon.Uuid != null){
                bool result = await StorageManager.AddBeaconToDatabase(beacon);
                if (result){
                    Logger.Log(logName,$"Added Beacon {beacon.Name} @ UUID: {beacon.Uuid} to Database");
                    beacon = new();
                }
            }
        }  
    }
}